.header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr repeat(2, 8vw);
  align-items: center;

  @media only screen and (max-width: $br-small) {
    & {
      grid-template-columns: 1fr repeat(2, 10vw);
    }
  }

  &-count,
  &-para {
    justify-self: center;
  }
}
