.model-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.549);
  display: flex;
  justify-content: center;
  align-items: center;

  .model {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &-headline {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &__input {
      @extend %input-placeholder;
    }

    &-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &-btn {
      @extend %btn-placeholder;
      border: 0.1rem solid var(--color-primary);
      background-color: #fff;
      color: var(--color-primary);

      &:active {
        background-color: var(--color-primary);
        color: #fff;
        border: 0.1rem solid var(--color-primary);
      }

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
}
